$primario: #000;
$secundario: #9b1b1e;
$terciario: #fff;

.main{
    .bulls{
        background-color: $secundario;
        border: 3px solid $primario;
        h2{
            color: $primario;
        }
        .sub, .descripcion{
            color: $terciario;
        }
        img{
            border: 1px solid $primario;
        }
        .precio{
            background-color: $primario;
            color: $secundario;
        }
    }
}