$primario: #ddc96a;
$secundario: #fff;
$terciario: #752b58;

.main{
    .cleveland{
        background-color: $secundario;
        border: 3px solid $primario;
        h2{
            color: $primario;
        }
        .sub, .descripcion{
            color: $terciario;
        }
        img{
            border: 1px solid $primario;
        }
        .precio{
            background-color: $primario;
            color: $secundario;
        }
    }
}