@media (min-width: 761px){
    .main{
        .card{
            max-width: 260px;
            .sub{
                font-size: 1.2em;
            }
            .precio{
                font-size: 1.5em;
            }
        }
    }
}