@media (max-width: 500px) { 
    .menu{
        .divMenu{
            .btns{
                .btn{
                    font-size: 0.8em;
                }
            }
        }
    }
    .main{
        .card{
            .sub{
                font-size: 1.5em;
            }
            .precio{
                font-size: 2em;
            }
        }
    }
    
}