// COLORES

$colorBlanco: #fff;
$colorNegro: #000;
$color1: #3e99fa;
$color2: #1f4b7a;
$color3: #327ac7;
$color4: #8ac0fb;



//FUENTES

@font-face {
    font-family: 'principal';
    src: url('../Mukta-Regular.ttf');
}